<% if logged_in? %>
  <div class="container userInfo">
    <%= render 'shared/user_info' %>
  </div>
  <div class="container">
    <%= render 'shared/post_form' %>
  </div>
  <% render 'shared/feed' %>
<% else %>
  <div class="container">
    <h1>Welcome to the Myblog</h1>
    <h2>
      This is the home page for the Myblog
    </h2>
    <%= link_to "Sign up now!", signup_path %>
  </div>
<% end %>
