<footer id="footer" class="container">
  <a href="https://github.com/BogPRo/Blog">Git Hub</a>
  <a href="https://rubyonrails.org/">Ruby on Rails</a>
  <a href="https://getbootstrap.com/">Bootstrap</a>
</footer>